  
<div class="container">
  <div class="centro">
    <div class="columna">
      <h3 class="titulo" id="title">Mi Contador Manual</h3>
      <hr>
    </div>
  </div>

  <div class="centro">
    <div class="columna">
      <span>{{ numero }}</span>
      <br><br>
      <button (click)="sumar()" class="btn">
        <h2>+</h2>
      </button>

      <button (click)="resta()" class="btn2">
       <h2>-</h2>
    </button> 
    </div>
  </div>
</div>
<div>
  <p *ngIf="advertencia ===true">
  ¡¡¡  Valor Invalido  !!!
</p>
</div>

