*{
  font-family: Georgia, 'Times New Roman', Times, serif;
}

#title{
  font-size: 48px;
  color: crimson;
  text-align: center;
}

.centro{
  text-align: center;
}

.centro{
  padding-bottom: 30px;
  font-size: 80px;
  color: crimson;
  font-weight: 600;
}

span{
  font-size: 80px;
  color: black;
  padding: 50px 50px;
}

.btn{
  padding: 1px 60px;
  background-color: crimson;
  border: none; 
  border-radius: 50%;
  text-align: center;
  margin: 10px;    
}

.btn:hover{
  border: 2px solid crimson;
}

.btn2{
  padding: 1px 70px;
  background-color: cyan;
  border: none; 
  border-radius: 50%;
  text-align: center;
  margin: 10px;  

}
.btn2:hover{
  border: 2px solid cyan;
}



h2{
  color: white;
  font-size: 48px;
  font-weight: 800;
}

p{
  color: red;
  text-align: center;
}
